<html st>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="c0nrad">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <style>
     body, html {
       width: 700px;

       /*Just lock it at min*/
       height: 200px
    }
    </style>

  </head>
  <body ng-app="app" ng-csp ng-controller="MainController">
    <div class="container">

  	<div class="row">
  		<div class="col-xs-4">
        <img src="/img/happy.png" width="100%" style="padding: 7px">
        <button class="btn btn-primary" ng-click="generateCaspr()"> Generate Caspr Endpoint </button>
        <div style="padding-top: 5px">
          <a href="endpoint"> View Results </a>
        </div>

      </div>
      <div class="col-xs-8">
        <h3> {{state.domain }} </h3>
        <input type="checkbox" ng-model="state.enabled" ng-change="saveState()"> Enabled

        <div class="form-group">
          <label> Mode </label>
          <select class="form-control" ng-change="saveState()" ng-model="state.mode" ng-options="a for a in ['Content-Security-Policy', 'Content-Security-Policy-Report-Only']">
          </select>
        </div>

        <div class="form-group">
          <label> Policy </label>
          <textarea ng-blur="saveState()" class="form-control" ng-model="state.policy" id="policy" style="width: 100%" rows="4"> </textarea>
        </div>

        <div class="form-group">
          <label> Report-URI </label>
          <input ng-blur="saveState()" type="text" class="form-control" ng-model="state.report">
        </div>

        <button class="btn btn-primary pull-right" style="margin-bottom:15px"> Save </button>

      </div>
    </div>

      <script src="/js/angular.min.js"> </script>
      <script src="popup.js"></script>
    </body>
</html>
