<html st>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="c0nrad">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <style>
     body, html {
        width: 700px;

        /*Just lock it at min*/
        height: 200px
      }

    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
      .ng-cloak, .x-ng-cloak,
      .ng-hide {
        display: none !important;
      }

      ng\:form {
        display: block;
      }
    </style>

  </head>
  <body ng-app="app" ng-csp ng-controller="MainController">
    <div class="container">

  	<div class="row">
  		<div class="col-xs-4">
        <img src="/img/happy.png" width="100%" style="padding: 7px">


        <div ng-show="state.project.endpoint" style="padding-top: 7px">
          <a href='{{"https://caspr.io/#/p/" + state.project.hash}}' target="_blank"> Inspect Project </a>
        </div>

      </div>
      <div class="col-xs-8">
        <h3> {{state.domain }} </h3>
        <input type="checkbox" ng-model="state.enabled" ng-change="saveState()"> Enabled

        <div class="form-group">
          <label> Mode </label>
          <select class="form-control" ng-change="saveState()" ng-model="state.mode" ng-options="a for a in ['Content-Security-Policy', 'Content-Security-Policy-Report-Only']">
          </select>
        </div>

        <div class="form-group">
          <label> Policy </label>

          <textarea ng-change="updateDirectives()" class="form-control" ng-model="policy.raw" id="policy" style="width: 100%" rows="4"> </textarea>

          <table class="table">
            <tr ng-repeat="directive in directives">
              <td>{{directive}}</td>
              <td><input ng-change="updatePolicy()" class="form-control" style="width: 100%" ng-model="policy.directives[directive]"></td>
            </tr>
          </table>
        </div>

      </div>
    </div>

      <script src="/js/policy.js"></script>
      <script src="/js/angular.min.js"> </script>
      <script src="/js/popup.js"></script>
    </body>
</html>
